
body {
  font-family: "Times New Roman", Times, serif;
  background-image: url(Background.jpg);
  background-size: cover;
  background-attachment: fixed;

}

#header_box {
  display: flex;
  flex-direction: row;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 20px;
  padding-right: 20px;
  padding: 10px;
  color: #f2f2f2;
}




#corner_image {
  max-width: 80px;
  max-height: 80px;
  display: flex;
  height: auto;
  width: auto;
  padding: 4px;
  border: 2px solid black;
  flex-direction: row;

}

#page_cover {
  margin: 20px;
  display: flex;
  flex-direction: row;
  background-color: #e6e6e6;
}

#info_backing {
margin: 20px;
display: flex;
flex-direction: column;
background-color: #e6e6e6;
padding: 5px;

}

.link {
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}


.important {
  font-weight: bold;
}

.role {
  font-style: italic;
}
